body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  background: linear-gradient(to top, #0062E6, #33AEFF);
  min-height: 100vh;
}

pre {
  font-family: inherit;
  font-size: 100%;
  color: inherit;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.loading {
  position: relative;
}
.loading > * {
  opacity: 0.5;
  pointer-events: none;
}
.loading::before {
  position: absolute;
  font-size: 0.75em;
  top: 50px;
  left: 50%;
  display: inline-block;
  transform: translateX(-50%);
  content: 'Đang tải...';
  color: #333;
  padding: 5px 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  border-radius: 5px;
  z-index: 100;
}

.react-confirm-alert-body {
  min-width: 400px;
  width: auto;
}

.Toastify__toast {
  min-height: 0;
}
