.notes-container {
  height: calc(100vh - 130px);
  flex-direction: column;
  .note {
    min-height: 120px;
    max-height: calc(100% - 120px);
    display: flex;
    flex-direction: column;
    .note-content {
      padding: 10px;
      padding-bottom: 15px;
      flex: 1;
    }
    textarea {
      box-shadow: none !important;
      height: 100%;
    }
  }
}
